<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spielrechner - {{ seitentitel }}</title>
    <link href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}" rel="stylesheet" >



</head>




<body>
<div class="container"  >
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center">
        <li><a href="{{ url_for('start') }}" class="nav-link px-2 link-dark">Start</a></li>
        <li><a href="{{ url_for('tat_hinzufügen') }}" class="nav-link px-2 link-dark">Tat hinzufügen</a></li>
        <li><a href="{{ url_for('wahrheit_hinzufügen') }}" class="nav-link px-2 link-dark">Wahrheit hinzufügen</a></li>
        <li><a href="{{ url_for('punkterechner') }}" class="nav-link px-2 link-dark">Punkterechner</a></li>





      </ul>

      <div class="col-md-3 text-end">
        <a href="{{ url_for('statistik') }}" type="button" class="btn btn-primary">Statistik</a>
      </div>

    </header>
</div>