{% include "header.jinja" %}

<form>
  <div class="form-group">
    <label for="points_player1">Punkte Spieler 1</label>
    <input type="text" class="form-control" id="points_player1" placeholder="Punkte eintragen">
  </div>
  <br>
  <div class="form-group">
    <label for="points_player2">Punkte Spieler 2</label>
    <input type="text" class="form-control" id="points_player2" placeholder="Punkte eintragen">
  </div>
    <br>
  <div class="form-group">
    <label for="points_player3">Punkte Spieler 3</label>
    <input type="text" class="form-control" id="points_player3" placeholder="Punkte eintragen">
  </div>
    <br>
  <div class="form-group">
    <label for="points_player4">Punkte Spieler 4</label>
    <input type="text" class="form-control" id="points_player4" placeholder="Punkte eintragen">
  </div>
  <br>
  <button type="submit" class="btn btn-secondary">Nächste Runde</button>
  <a href="{{ url_for('statistik') }}" type="button" class="btn btn-primary">Spiel beenden</a>

</form>


{% include "footer.jinja" %}