{% include "header.jinja" %}
<div class="bg-light">
  <div class="row">
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">456</h1>
      <p class="lead">Gespielte Spiele</p>
    </div>
  </div>
    </div>
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">17</h1>
      <p class="lead">Anzahl Mitspieler total</p>
    </div>
  </div>
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">16. November 2022</h1>
      <p class="lead">Letztes Spiel</p>
    </div>
  </div>
    </div>
    <div class="col-6">
      <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">UNO Friends Game</h1>
      <p class="lead">Name der letzten Runde</p>
    </div>
  </div>
    </div>
  </div>
</div>
<br>

<br>
<div>
  <h1>Spielerstatistik:</h1>


{{ barchart | safe }}

</div>


{% include "footer.jinja" %}