{% include "header.jinja" %}


<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Kontrolle doppelte Taten</h1>
    <div class="col-lg-9 mx-auto">
      <p class="lead mb-4">Sollte bei einer Tat der Balken bis zur Nummer 2 anzeigen, dann ist diese Tat in der Datenbank doppelt vorhanden!</p>
        <div>{{ barchart | safe }}</div>
    </div>
  </div>
<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Kontrolle doppelte Wahrheiten</h1>
    <div class="col-lg-9 mx-auto">
      <p class="lead mb-4">Sollte bei einer Wahrheit der Balken bis zur Nummer 2 anzeigen, dann ist diese Wahrheit in der Datenbank doppelt vorhanden! {{ barchart | safe }}</p>
    </div>
  </div>



{{ barchart | safe }}


{% for eintrag in liste %}
        <ul>
            <li class="list-group-item">- {{eintrag}}</li>
        </ul>
{% endfor %}

{% include "footer.jinja" %}